*.o
*.gch
*.html

test/*.log

test/simple
test/x-search-before-fin
test/period
test/random
test/individual
test/identica
test/mem-too-little
test/signed

bench/countspeed
bench/scaling
bench/mil
bench/viz
